
.container{
    background-color: #0066b2;
    height: 50px;
    font-size: large;
    display: flex;
    justify-content: space-between;

    a {
        padding: 15px;
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: rgb(0, 0, 28);
    }
}

.pad-m {
    padding: 15px;
}
