button, input {
    padding: 10px;
    border: 1px solid blue;
    margin: 10px;
    border-radius: 10px;
}

img {
    padding: 20px;
    margin: 20px;
}

.message {
    padding: 20px;
    margin: 10px;
    border: 1px solid blue;
    font-size: large;
    background-color: rgb(74, 74, 239);
    color: white;
    border-radius: 20px;
    margin-bottom: 0px;
}