<div class="message">
    <div>
        {{ headline }}
    </div>
    <br>
    <div>
        {{ message }}
    </div>
</div>

<img src="https://cric-pp1-player-images.s3.ap-south-1.amazonaws.com/download.jpeg" alt="Current ODI Team"
height="1000px" width="1600px">
<img src="https://cric-pp1-player-images.s3.ap-south-1.amazonaws.com/2011-World-Cup-winning-squad-crictoday.webp" alt="WC 2011 Winning Team" 
height="1000px" width="1600px">
<img src="https://cric-pp1-player-images.s3.ap-south-1.amazonaws.com/India.jpg" alt="WC 1983"
height="1000px" width="1600px">

