<div class="container">
    <div>
        <img class="image-style"
            width="300"
            height="300"
            src="https://cric-pp1-player-images.s3.ap-south-1.amazonaws.com/aman.jpeg" alt="An image of Aman Gupta">
            <ng-container *ngFor="let details of connectDetails">
                <div class="connect">
                    {{ details}}
                </div>
            </ng-container>
    </div>
    <div class="pad-l">
        <div>
            {{ headline }}
        </div>
        <div class="chip-container">
            <ng-container *ngFor="let chip of chipSet">
                <div class="chip-style" [ngClass]="chip.style" (click)="activateChipContent(chip)">{{ chip.name }}</div>
            </ng-container>
        </div>
        <div *ngFor="let chip of chipSet; let i = index">
            <div *ngIf="chip.activate === true">
                <ng-template *ngTemplateOutlet="expTemplate; context: {experience: chip.experience}"></ng-template>
            </div>
        </div>
        <ng-template #expTemplate let-expArr="experience">
            <div *ngFor="let exp of expArr">
                <div class="content-chip-container">
                    <div class="pad-m min-width">
                        {{ exp }}
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
